<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CyberDost"
        tools:targetApi="31">
        <activity
            android:name=".activities.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SMSSpamCheckResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UrlCheckResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PSNearMeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectCatgoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SmsCheckerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UrlCheckerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginKotlinActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="io.appwrite.views.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="appwrite-callback-6413499239a87e335e84" />
            </intent-filter>
        </activity>
    </application>

</manifest>